/* You can add global styles to this file, and also import other style files */
@import 'material-icons/iconfont/material-icons.scss'
@import 'src/shared/sharedCss/common'
body
  margin: 0%


*
  font-family:'Lobster', cursive


*
  font-family:'Lobster', cursive

