<div fxLayout="column" fxFlex="80">
  <a mat-button routerLink="/main/home" class="company-name">
    <img src="assets/logo.png" class="img-logo" alt="error logo" />
  </a>

  <mat-divider></mat-divider>

  <a mat-button routerLink="/main/candidate" routerLinkActive="active">Candidate</a>
  <a mat-button routerLink="/main/question" routerLinkActive="active">Question</a>
  <a mat-button routerLink="/main/interview" routerLinkActive="active">Interview</a>
  <a mat-button routerLink="/main/company" routerLinkActive="active">Company</a>
  <a mat-button routerLink="/main/employee" routerLinkActive="active">Employee</a>

</div>
