.mat-icon
  vertical-align: center
  color: #c3d49c
a
  margin-bottom: .5rem
  font-size: 25px



.title
  font-weight: italic
  font-size: 15px
  font-weight: 500

.img-logo
  width: 60px
  margin-bottom: 5%

.active
  background-color: #c3d49c
  color: white
  padding:4%


.mat-divider
  border-top-width: 3px
  border-color: #c3d49c
  margin-bottom: 3rem
  width: 200px

