<div fxLayout="column">
    <h1 color="primary" class="title">Informatique
        <a mat-button routerLink="/main/home" class="company-name">
            <img src="assets/logo.png" class="img-logo" alt="error logo">
        </a>
    </h1>
    <a mat-button routerLink="">Home</a>
    <a mat-button routerLink="/login">Login</a>
    <a mat-button routerLink="">Register</a>
    <a mat-button routerLink="/main/question">Question</a>
    <a mat-button routerLink="/main/company">Company</a>
    <a mat-button routerLink="/main/employee">Employee</a>




</div>