.about
  height: 92vh
  background-size: cover
  width: 100%
  background-image: url(/assets/welcome-background-3.jpg)

.text-about
  font-size: 40px
  font-weight: bold
  margin: auto
  color: white
  letter-spacing: 2px
  text-shadow: 2px 2px 4px #000000
  text-align: center

.title-field
  font-weight: normal
  margin-left: 45%

.card-field
  margin: 0 2% 2% 0
  min-height: 260px
  padding: 1%
  border: 1 solid gray
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)




.card-content
  margin: 0 5px 0 10px


.card-content .card-header
 color: #c3d49c

.team
  color: gray
  margin-bottom: 10px

.no-margin
  margin: 0px

.card-button

  margin: 2% 0 0% 0
  background-color: #c3d49c
  border-color: white
  cursor: pointer
  box-shadow: 2px 2px 4px #c3d49c
  font-size: 25px



.footer
  background-color: #222
  color: white
  padding-bottom:5%


.footer-titles
  color: #c3d49c
  margin-bottom: 10px
  font-size: 30px

.footer-part
  width: 15%

.footer-data
  color: white
  line-height: 6px

.icon-contact
  cursor: pointer
  position: fixed
  bottom: 5%
  right: 5%
  color: #c3d49c
  text-shadow: 2px 2px 4px #000000

.icon-contact mat-icon
  font-size : 60px


