<div class="candidate-Laytout">
  <div
    fxLayoutAlign.lt-sm="start start"
    (click)="changeVisibility()"
    class="show-btn"
  >
    <button
      type="submit"
      mat-raised-button
      class="open-form-button"
      fxFlex="50"
    >
      <mat-icon>add</mat-icon>
    </button>
  </div>
  <div *ngIf="isVisible">
    <form [formGroup]="InterviewForm" (ngSubmit)="onSubmit()">
      <fieldset>
        <legend>{{ "interview" | translate }}</legend>
        <div class="all-Inpt">
          <div fxLayoutAlign="center center">
            <mat-form-field appearance="outline" fxFlex.lt-lg="80%" fxFlex="60">
              <mat-label>{{ "evaluation" | translate }}</mat-label>
              <textarea
                formControlName="evaluation"
                type="text"
                matInput
                placeholder="{{ 'evaluation-validation' | translate }}"
              ></textarea>
              <mat-error
                *ngIf="
                  InterviewForm.controls['evaluation'].hasError('evaluation') &&
                  !InterviewForm.controls['evaluation'].hasError('required')
                "
              >
                {{ "evaluation-validation" | translate }}
              </mat-error>
              <mat-error
                *ngIf="
                  InterviewForm.controls['evaluation'].hasError('required')
                "
              >
                {{ "evaluation" | translate }}
                <strong>{{ "required" | translate }}</strong>
              </mat-error>
            </mat-form-field>
          </div>

          <div fxLayoutAlign="center center">
            <mat-form-field appearance="outline" fxFlex.lt-lg="80%" fxFlex="60">
              <mat-label>{{ "choose-employee" | translate }}</mat-label>
              <mat-select #mode value="side" formControlName="employeeId">
                <mat-option value="side">Side</mat-option>
                <mat-option value="over">Over</mat-option>
                <mat-option value="push">Push</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div fxLayoutAlign="center center">
            <button
              type="submit"
              class="add-btn"
              mat-raised-button
              fxFlex.lt-lg="80%"
              fxFlex="40"
            >
              {{ "add" | translate }}
            </button>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
  <h1 fxLayoutAlign="center center">{{ "interview" | translate }}</h1>
  <div fxLayoutAlign="center center">
    <table mat-table class="mat-elevation-z8 table">
      <ng-container matColumnDef="evaluation">
        <th mat-header-cell *matHeaderCellDef>{{ "no" | translate }}</th>
        <td mat-cell></td>
      </ng-container>

      <ng-container matColumnDef="employee">
        <th mat-header-cell *matHeaderCellDef>{{ "name" | translate }}</th>
        <td mat-cell></td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</div>
