legend
      color: white
      background-color: rgb(99, 99, 206)
      font-size:25px
      text-align: center

.candLayt
  margin: 3%
.allInpt
  color: white
  margin-top: 3%
  margin-bottom: 3%




fieldset
      background-image: url(/assets/contact-background.png)





