.registerPage
  margin-top: 10%
  height: 60vh

.contentregisterPage
  border: 1px solid rgb(221, 219, 219)
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)

.responsiveImg
  // position:fixed
  max-width: 100%
  height: auto

.title
  text-align: center
  padding-top:80px
  padding-bottom: 20px

.btnRegister
  padding:15
  border-radius: 15px

.Login
  margin-top: 15px
  font-size: small
