<div
  fxLayoutAlign="center center"
  class="registerPage"
  [@registerScreenAnimation]="registerScreenAnimation"
  (@registerScreenAnimation.done)="setBackToUnchecked()"
  [dir]="'direction' | translate"
>
  <div
    fxFlex="95"
    fxFlex.lt-md="100"
    fxFlexFill
    fxLayout="row"
    class="contentregisterPage"
  >
    <div fxLayout="row wrap">
      <div
        fxFlex="50"
        fxFlex.lt-md="100"
        fxLayout="column"
        fxFlexAlign="stretch"
      >
        <div fxLayout="column" fxFlexAlign="stretch">
          <img class="responsiveImg" src="assets/login.jpg" />
        </div>
      </div>

      <div
        fxFlex="50"
        fxFlex.lt-md="100"
        fxLayout="column"
        class="mat-app-background"
        @handelTransition
      >
        <div fxLayout="column" fxLayoutAlign="center">
          <div fxLayout="row" fxLayoutAlign="center">
            <h1 class="title">{{ "welcome" | translate }}</h1>
          </div>
        </div>
        <div fxLayout="column" fxLayoutAlign="center">
          <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div fxLayoutAlign="center">
              <mat-form-field
                fxFlex="60"
                fxFlex.lt-md="90"
                appearance="outline"
              >
                <mat-label>{{ "mail" | translate }}</mat-label>
                <input
                  formControlName="email"
                  type="email"
                  matInput
                  autofocus
                />
                <mat-error
                  *ngIf="registerForm.controls['email'].hasError('required')"
                  >{{ "mail" | translate }}
                  <strong>{{ "required" | translate }}</strong>
                </mat-error>
                <mat-error
                  *ngIf="
                    registerForm.controls['email'].hasError('pattern') &&
                    !registerForm.controls['email'].hasError('required')
                  "
                >
                  {{ "mail-validation" | translate }}
                </mat-error>
              </mat-form-field>
            </div>
            <div fxLayoutAlign="center">
              <mat-form-field
                fxFlex="60"
                fxFlex.lt-md="90"
                appearance="outline"
              >
                <mat-label>{{ "password" | translate }}</mat-label>
                <input
                  formControlName="password"
                  [type]="hidePassword ? 'password' : 'text'"
                  matInput
                />
                <mat-icon matSuffix (click)="hidePassword = !hidePassword">{{
                  hidePassword ? "visibility_off" : "visibility"
                }}</mat-icon>
                <mat-hint *ngIf="!registerForm.controls['password'].value">
                  {{ "password-characters" | translate }} <br />
                  {{ "password-uppercase" | translate }}<br />
                  {{ "password-lowercase" | translate }}<br />
                  {{ "password-number" | translate }}</mat-hint
                >
                <mat-error
                  *ngIf="registerForm.controls['password'].hasError('required')"
                  >{{ "password" | translate }}
                  <strong>{{ "required" | translate }}</strong>
                </mat-error>
                <mat-error
                  *ngIf="
                    registerForm.controls['password'].hasError('pattern') &&
                    !registerForm.controls['password'].hasError('required')
                  "
                >
                  {{ "valid-password" | translate }}
                </mat-error>
              </mat-form-field>
            </div>
            <br /><br />
            <div fxLayoutAlign="center">
              <mat-form-field
                fxFlex="60"
                fxFlex.lt-md="90"
                appearance="outline"
              >
                <mat-label>{{ "confirm-password" | translate }}</mat-label>
                <input
                  formControlName="confirmPassword"
                  matInput
                  [type]="hideConfirmPassword ? 'password' : 'text'"
                />

                <mat-icon
                  matSuffix
                  (click)="hideConfirmPassword = !hideConfirmPassword"
                  >{{
                    hideConfirmPassword ? "visibility_off" : "visibility"
                  }}</mat-icon
                >
                <mat-error
                  *ngIf="
                    registerForm.controls['confirmPassword'].hasError(
                      'required'
                    )
                  "
                  >{{ "confirm-password" | translate }}
                  <strong>{{ "required" | translate }}</strong>
                </mat-error>
                <mat-error
                  *ngIf="
                    registerForm.controls['confirmPassword'].hasError(
                      'MustMatch'
                    ) &&
                    !registerForm.controls['confirmPassword'].hasError(
                      'required'
                    )
                  "
                >
                  {{ "password-match" | translate }}
                </mat-error>
              </mat-form-field>
            </div>
            <div fxLayoutAlign="center">
              <div fxLayout="column">
                <button
                  type="submit"
                  mat-raised-button
                  type="submit"
                  color="primary"
                  class="btnRegister"
                  (click)="toggle()"
                >
                  {{ "register" | translate }}
                </button>
                <p class="Login" fxLayoutAlign="center">
                  {{ "account-register-question" | translate }} &nbsp;<a
                    routerLink="/login"
                    (click)="toggle()"
                    >{{ "login" | translate }}</a
                  >
                </p>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
