<div fxLayoutAlign="center center" fxLayout="column">
  <h1>{{ "contact-us-page.contact-us" | translate }}</h1>
  <div class="contact">
    <div
      div
      fxLayout="row wrap"
      fxLayoutAlign="space-around center"
      class="contact-contain"
    >
      <div fxFlex="30" fxFlex.lt-md="90" fxLayout="column">
        <div
          fxLayout="row"
          fxLayoutAlign="start center"
          fxLayoutGap="20px"
          class="contact-card"
        >
          <div class="material-icons icons-contact">location_on</div>
          <div>
            <h4>{{ "contact-us-page.address" | translate }}</h4>
            <ul>
              <li>
                <p>{{ "contact-us-page.address-one" | translate }}</p>
              </li>
              <li>
                <p>{{ "contact-us-page.address-two" | translate }}</p>
              </li>
            </ul>
          </div>
        </div>
        <div
          fxLayout="row"
          fxLayoutAlign="start center"
          fxLayoutGap="20px"
          class="contact-card"
        >
          <div class="material-icons icons-contact">email</div>
          <div>
            <h4>{{ "contact-us-page.mail" | translate }}</h4>
            <p>&nbsp;&nbsp; {{ "contact-us-page.company-mail" | translate }}</p>
          </div>
        </div>
        <div
          fxLayout="row"
          fxLayoutAlign="start center"
          fxLayoutGap="20px"
          class="contact-card"
        >
          <div class="material-icons icons-contact">call</div>
          <div>
            <h4>{{ "contact-us-page.phone" | translate }}</h4>
            <p>&nbsp;&nbsp; (202)24027637</p>
          </div>
        </div>
      </div>
      <div fxFlex="60" fxFlex.lt-md="90" fxLayout="column">
        <form
          fxLayout="column"
          action="https://formsubmit.co/zinabadelhashem@gmail.com"
          method="POST"
        >
          <mat-form-field fxFlex="60" fxFlex.lt-md="90" appearance="outline">
            <mat-label class="input-contact">{{
              "contact-us-page.name" | translate
            }}</mat-label>
            <input
              type="text"
              name="name"
              placeholder="{{ 'contact-us-page.name-placeholder' | translate }}"
              matInput
              required
            />
          </mat-form-field>
          <mat-form-field fxFlex="60" fxFlex.lt-md="90" appearance="outline">
            <mat-label class="input-contact">{{
              "contact-us-page.mail" | translate
            }}</mat-label>
            <input
              type="email"
              name="email"
              placeholder="{{ 'contact-us-page.mail-placeholder' | translate }}"
              matInput
              required
            />
          </mat-form-field>
          <mat-form-field fxFlex="60" fxFlex.lt-md="90" appearance="outline">
            <mat-label class="input-contact">{{
              "contact-us-page.message" | translate
            }}</mat-label>
            <textarea
              type="text"
              name="message"
              placeholder="{{
                'contact-us-page.message-placeholder' | translate
              }}"
              matInput
              required
            ></textarea>
          </mat-form-field>
          <button type="submit" mat-raised-button class="send">
            {{ "contact-us-page.send-message" | translate }}
          </button>
        </form>
      </div>
    </div>
    <div fxLayoutAlign="center center" fxLayoutGap="20px">
      <img src="assets/facebook.png" alt="error facebook" class="img-social" />
      <a href="https://www.linkedin.com/company/informatique/" target="_blank">
        <img
          src="assets/linkedin.png"
          alt="error linkedin"
          class="img-social"
        />
      </a>
      <img src="assets/whatsapp.png" alt="error whats" class="img-social" />
      <a href="https://github.com/Informatique-Dev" target="_blank">
        <img src="assets/github.png" alt="error github" class="img-social" />
      </a>
      <a href="www.informatique-eg.com" target="_blank">
        <img src="assets/website.png" alt="error github" class="img-social" />
      </a>
    </div>
  </div>
</div>
