<div class="header">
  <mat-toolbar fxLayout="row wrap">
    <button mat-icon-button (click)="clickMenu()">
      <mat-icon class="mat-icon">menu</mat-icon>
    </button>
    <a mat-button routerLink="/main/home" class="company-name">
      <img src="assets/logo.png" class="img-logo" />
      <span> {{ "informatique" | translate }} </span>
    </a>
    <a
      mat-button
      routerLink="/login"
      routerLinkActive="active"
      class="icon-login"
      ><mat-icon>login</mat-icon></a
    >
    <select (click)="selectTranslate($event)" class="lang">
      <option value="en">{{ "en-options" | translate }}</option>
      <option value="ar">{{ "ar-options" | translate }}</option>
    </select>
  </mat-toolbar>
</div>
