<div class="header">
  <mat-toolbar fxLayout="row wrap">
    <button mat-icon-button (click)="clickMenu()">
      <mat-icon class="mat-icon">menu</mat-icon>
    </button>
    <a mat-button routerLink="/main/home" class="company-name">
      <img src="assets/logo.png" class="img-logo" />
      <span> {{ "informatique" | translate }} </span>
    </a>
    <span class="spacer"></span>

    <a
      mat-button
      routerLink="/login"
      routerLinkActive="active"
      class="icon-login"
      ><mat-icon>login</mat-icon></a
    >
    <mat-icon class="lang" (click)="selectTranslate()">translate</mat-icon>
  </mat-toolbar>
</div>
