<div class="cand-Layt">

    <form [formGroup]="candidateForm" (ngSubmit)="onSubmit()">
        <fieldset>
            <legend>Candidate info</legend>
            <div class="all-Inpt">
                <div fxLayoutAlign="center center">
                    <mat-form-field appearance="outline" fxFlex.lt-lg="80%" fxFlex="70">
                        <mat-label>Name</mat-label>
                        <input formControlName="name" type="text" matInput placeholder="enter your name" fxFlex="60">
                        <mat-error *ngIf="candidateForm.controls['name'].hasError('name') && !candidateForm.controls['name'].hasError('required')">
                            Please enter a name
                        </mat-error>
                        <mat-error *ngIf="candidateForm.controls['name'].hasError('required')">
                            name is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                </div>

                <div fxLayoutAlign="center center">
                    <mat-form-field appearance="outline" fxFlex="70" fxFlex.lt-lg="80%">
                        <mat-label>Phone Number</mat-label>
                        <input formControlName="phone" type="tel" matInput placeholder="enter your phone">
                        <mat-error *ngIf="candidateForm.controls['phone'].hasError('phone') && !candidateForm.controls['phone'].hasError('required')">
                            Please enter a valid phone Number
                        </mat-error>
                        <mat-error *ngIf="candidateForm.controls['phone'].hasError('required')">
                            phone Number is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                </div>

                <div fxLayoutAlign="center center">
                    <mat-form-field appearance="outline" fxFlex="70" fxFlex.lt-lg="80%">
                        <mat-label>Email</mat-label>
                        <input formControlName="email" type="email" matInput placeholder="Ex. p@Informatique.com">
                        <mat-error *ngIf="candidateForm.controls['email'].hasError('email') && !candidateForm.controls['email'].hasError('required')">
                            Please enter a valid email address
                        </mat-error>
                        <mat-error *ngIf="candidateForm.controls['email'].hasError('required')">
                            Email is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                </div>

                <div fxLayoutAlign="center center">
                    <input type="file" (change)="uploadFileEvt($event)" hidden id="upload" formArrayName="picture">
                </div>
                <div class="upload-file" >
                <label  for="upload">
                  <h1><mat-icon mat-mini-fab color="primary" >attach_file</mat-icon>choose file</h1>
                  <!-- <img *ngIf="picture.value" alt="sign" [src]="picture.value" style="width: 150px; height:150px"/> -->
                </label>
                <div >
                  <div><img [src]="dataimage" width="300px"></div>
                </div>
                </div>
                <!-- <mat-form-field appearance="outline" fxFlex="70" fxFlex.lt-lg="80%">
                        <mat-label>Upload CV</mat-label>
                        <mat-error *ngIf="candidateForm.controls['cv'].hasError('cv') && !candidateForm.controls['cv'].hasError('required')">
                            Please enter a valid
                        </mat-error>
                        <mat-error *ngIf="candidateForm.controls['email'].hasError('required')">
                            cv is <strong>required</strong>
                        </mat-error>

                    </mat-form-field>
                </div> -->
                <div fxLayoutAlign="center center">
                    <button type="submit" mat-raised-button type="submit" color="primary" fxFlex.lt-lg="80%" fxFlex="30">Add Candidate</button>
                </div>
            </div>

        </fieldset>
